# First Retrving Data from Yfinance

In [5]:
import yfinance as yf

# Define the tickers and date range
tickers = ["TSLA", "BND", "SPY"]
start_date = "2015-01-01"
end_date = "2024-10-31"

# Fetch data separately for each ticker
tsla_data = yf.download("TSLA", start=start_date, end=end_date)[['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']]
bnd_data = yf.download("BND", start=start_date, end=end_date)[['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']]
spy_data = yf.download("SPY", start=start_date, end=end_date)[['Open', 'High', 'Low', 'Close', 'Adj Close', 'Volume']]

# Save to CSV files (optional)
tsla_data.to_csv("../data/tsla_data.csv")
bnd_data.to_csv("../data/bnd_data.csv")
spy_data.to_csv("../data/spy_data.csv")

[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed
[*********************100%***********************]  1 of 1 completed

In [8]:
tsla_data.head()

Price,Open,High,Low,Close,Adj Close,Volume
Ticker,TSLA,TSLA,TSLA,TSLA,TSLA,TSLA
Date,,,,,,
2015-01-02 00:00:00+00:00,14.858000,14.883333,14.217333,14.620667,14.620667,71466000
2015-01-05 00:00:00+00:00,14.303333,14.433333,13.810667,14.006000,14.006000,80527500
2015-01-06 00:00:00+00:00,14.004000,14.280000,13.614000,14.085333,14.085333,93928500
2015-01-07 00:00:00+00:00,14.223333,14.318667,13.985333,14.063333,14.063333,44526000
2015-01-08 00:00:00+00:00,14.187333,14.253333,14.000667,14.041333,14.041333,51637500

In [9]:
bnd_data.head()

Price,Open,High,Low,Close,Adj Close,Volume
Ticker,BND,BND,BND,BND,BND,BND
Date,,,,,,
2015-01-02 00:00:00+00:00,82.430000,82.690002,82.419998,82.650002,63.358749,2218800
2015-01-05 00:00:00+00:00,82.739998,82.919998,82.699997,82.889999,63.542736,5820100
2015-01-06 00:00:00+00:00,83.029999,83.379997,83.029999,83.129997,63.726734,3887600
2015-01-07 00:00:00+00:00,83.139999,83.279999,83.050003,83.180000,63.765060,2433400
2015-01-08 00:00:00+00:00,83.110001,83.110001,82.970001,83.050003,63.665424,1873400

In [10]:
spy_data.head()

Price,Open,High,Low,Close,Adj Close,Volume
Ticker,SPY,SPY,SPY,SPY,SPY,SPY
Date,,,,,,
2015-01-02 00:00:00+00:00,206.380005,206.880005,204.179993,205.429993,173.173767,121465900
2015-01-05 00:00:00+00:00,204.169998,204.369995,201.350006,201.720001,170.046326,169632600
2015-01-06 00:00:00+00:00,202.089996,202.720001,198.860001,199.820007,168.444641,209151400
2015-01-07 00:00:00+00:00,201.419998,202.720001,200.880005,202.309998,170.543671,125346700
2015-01-08 00:00:00+00:00,204.009995,206.160004,203.990005,205.899994,173.569992,147217800

In [11]:
tsla_data.columns

MultiIndex([(     'Open', 'TSLA'),
            (     'High', 'TSLA'),
            (      'Low', 'TSLA'),
            (    'Close', 'TSLA'),
            ('Adj Close', 'TSLA'),
            (   'Volume', 'TSLA')],
           names=['Price', 'Ticker'])