# Importing necessary libraries

In [1]:
import pandas as pd
import sys 
import os
sys.path.append(os.path.abspath('../scripts'))

In [2]:
from data_preprocesesing import *

# Extracting historical financial data

In [3]:
tsla_df = pd.DataFrame(get_stock_data("TSLA"))
spy_df = pd.DataFrame(get_stock_data("SPY"))
bnd_df = pd.DataFrame(get_stock_data("BND"))

# Understanding the data

## 1. Tesla Inc. (TSLA)

In [4]:
data_understanding(tsla_df)

Data Shape: (2481, 5)
Data Head:
                                Open       High        Low      Close  \
Date
2015-01-02 00:00:00-05:00  14.858000  14.883333  14.217333  14.620667
2015-01-05 00:00:00-05:00  14.303333  14.433333  13.810667  14.006000
2015-01-06 00:00:00-05:00  14.004000  14.280000  13.614000  14.085333
2015-01-07 00:00:00-05:00  14.223333  14.318667  13.985333  14.063333
2015-01-08 00:00:00-05:00  14.187333  14.253333  14.000667  14.041333

                             Volume
Date
2015-01-02 00:00:00-05:00  71466000
2015-01-05 00:00:00-05:00  80527500
2015-01-06 00:00:00-05:00  93928500
2015-01-07 00:00:00-05:00  44526000
2015-01-08 00:00:00-05:00  51637500
Data Description:
              Open         High          Low        Close        Volume
count  2481.000000  2481.000000  2481.000000  2481.000000  2.481000e+03
mean    111.902984   114.354807   109.303796   111.890274  1.125585e+08
std     110.370142   112.824498   107.706078   110.302138  7.444520e+07
min       9.488000    10.331333     9.403333     9.578000  1.062000e+07
25%      17.099333    17.386667    16.799999    17.086000  6.682080e+07
50%      25.093332    25.509333    24.648666    25.166000  9.288270e+07
75%     217.896667   222.166672   212.529999   217.733337  1.301955e+08
max     411.470001   414.496674   405.666656   409.970001  9.140820e+08
Data Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2481 entries, 2015-01-02 00:00:00-05:00 to 2024-11-08 00:00:00-05:00
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Open    2481 non-null   float64
 1   High    2481 non-null   float64
 2   Low     2481 non-null   float64
 3   Close   2481 non-null   float64
 4   Volume  2481 non-null   int64
dtypes: float64(4), int64(1)
memory usage: 116.3 KB

Data Columns: ['Open', 'High', 'Low', 'Close', 'Volume']
Data Null Values:
Open      0
High      0
Low       0
Close     0
Volume    0
dtype: int64

## 1. Spyder Trust (SPY)

In [5]:
data_understanding(spy_df)

Data Shape: (2481, 6)
Data Head:
                                 Open        High         Low       Close  \
Date
2015-01-02 00:00:00-05:00  173.974595  174.396086  172.120025  173.173752
2015-01-05 00:00:00-05:00  172.111629  172.280223  169.734426  170.046326
2015-01-06 00:00:00-05:00  170.358247  170.889330  167.635418  168.444687
2015-01-07 00:00:00-05:00  169.793402  170.889281  169.338198  170.543655
2015-01-08 00:00:00-05:00  171.976802  173.789221  171.959952  173.570038

                              Volume  Capital Gains
Date
2015-01-02 00:00:00-05:00  121465900            0.0
2015-01-05 00:00:00-05:00  169632600            0.0
2015-01-06 00:00:00-05:00  209151400            0.0
2015-01-07 00:00:00-05:00  125346700            0.0
2015-01-08 00:00:00-05:00  147217800            0.0
Data Description:
              Open         High          Low        Close        Volume  \
count  2481.000000  2481.000000  2481.000000  2481.000000  2.481000e+03
mean    310.966816   312.664403   309.125097   311.018675  8.799330e+07
std     112.004018   112.584631   111.368794   112.024012  4.490370e+07
min     156.881213   158.395486   155.197526   157.328613  2.027000e+07
25%     215.169996   215.637870   214.037402   214.852280  5.952860e+07
50%     275.804969   277.168044   274.385945   276.051117  7.685750e+07
75%     403.083512   404.548586   400.283861   402.683655  1.025859e+08
max     596.169983   599.640015   596.169983   598.190002  5.072443e+08

       Capital Gains
count         2481.0
mean             0.0
std              0.0
min              0.0
25%              0.0
50%              0.0
75%              0.0
max              0.0
Data Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2481 entries, 2015-01-02 00:00:00-05:00 to 2024-11-08 00:00:00-05:00
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Open           2481 non-null   float64
 1   High           2481 non-null   float64
 2   Low            2481 non-null   float64
 3   Close          2481 non-null   float64
 4   Volume         2481 non-null   int64
 5   Capital Gains  2481 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 135.7 KB

Data Columns: ['Open', 'High', 'Low', 'Close', 'Volume', 'Capital Gains']
Data Null Values:
Open             0
High             0
Low              0
Close            0
Volume           0
Capital Gains    0
dtype: int64

## 3. Bnd (BND)

In [6]:
data_understanding(bnd_df)

Data Shape: (2481, 6)
Data Head:
                                Open       High        Low      Close  \
Date
2015-01-02 00:00:00-05:00  63.190106  63.389421  63.182438  63.358757
2015-01-05 00:00:00-05:00  63.427758  63.565744  63.397093  63.542747
2015-01-06 00:00:00-05:00  63.650076  63.918382  63.650076  63.726734
2015-01-07 00:00:00-05:00  63.734369  63.841692  63.665379  63.765034
2015-01-08 00:00:00-05:00  63.711376  63.711376  63.604054  63.665382

                            Volume  Capital Gains
Date
2015-01-02 00:00:00-05:00  2218800            0.0
2015-01-05 00:00:00-05:00  5820100            0.0
2015-01-06 00:00:00-05:00  3887600            0.0
2015-01-07 00:00:00-05:00  2433400            0.0
2015-01-08 00:00:00-05:00  1873400            0.0
Data Description:
              Open         High          Low        Close        Volume  \
count  2481.000000  2481.000000  2481.000000  2481.000000  2.481000e+03
mean     70.099923    70.199042    69.992362    70.096920  4.174983e+06
std       4.885777     4.893096     4.875017     4.885157  2.776826e+06
min      62.668556    62.715010    62.598858    62.637577  0.000000e+00
25%      66.318925    66.409829    66.253986    66.327965  2.030200e+06
50%      68.949652    69.079269    68.801715    68.914566  3.722400e+06
75%      73.759108    73.858755    73.653422    73.801575  5.537500e+06
max      79.875386    79.911059    79.777263    79.812943  3.193720e+07

       Capital Gains
count         2481.0
mean             0.0
std              0.0
min              0.0
25%              0.0
50%              0.0
75%              0.0
max              0.0
Data Info:
<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 2481 entries, 2015-01-02 00:00:00-05:00 to 2024-11-08 00:00:00-05:00
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Open           2481 non-null   float64
 1   High           2481 non-null   float64
 2   Low            2481 non-null   float64
 3   Close          2481 non-null   float64
 4   Volume         2481 non-null   int64
 5   Capital Gains  2481 non-null   float64
dtypes: float64(5), int64(1)
memory usage: 135.7 KB

Data Columns: ['Open', 'High', 'Low', 'Close', 'Volume', 'Capital Gains']
Data Null Values:
Open             0
High             0
Low              0
Close            0
Volume           0
Capital Gains    0
dtype: int64

# Null values

## 1. Tesla Inc. (TSLA)

In [9]:
missing_values_table(tsla_df)

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

## 2. Spyder Trust (SPY)

In [10]:
missing_values_table(spy_df)

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

## 3. Bnd (BND)

In [11]:
missing_values_table(bnd_df)

Empty DataFrame
Columns: [Missing Values, % of Total Values]
Index: []

### *since there are no null values in the data, we can proceed with the analysis

## Data types

In [14]:
data_frames = [tsla_df, spy_df, bnd_df]
for data_frame in data_frames:
    data_frame = data_frame.dtypes
    print(data_frame)

Open      float64
High      float64
Low       float64
Close     float64
Volume      int64
dtype: object
Open             float64
High             float64
Low              float64
Close            float64
Volume             int64
Capital Gains    float64
dtype: object
Open             float64
High             float64
Low              float64
Close            float64
Volume             int64
Capital Gains    float64
dtype: object

### *The data types of the columns in the dataframes are correct and we can proceed with the analysis

## Exporting the data to a csv file for further analysis(like EDA)

In [18]:
tsla_df.to_csv("../data/tsla.csv")
spy_df.to_csv("../data/spy.csv")
bnd_df.to_csv("../data/bnd.csv")